<h1><%= @machine.location %> Vending Machine</h1>
Average Price <%= @machine.snacks_average_price %> <br>
<% @machine.snacks.each do |snack| %>
<%= snack.name %> <br>
<%= snack.price %> <br>
<% end %>
